@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Start of header */

header {
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
}

input {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

input::placeholder {
  color: #7378c5;
}

input:focus {
  outline: none;
  background-color: var(--primary-color);
}

/* End of header */

/* Start of result section */

section#result {
  padding: 1rem;
  max-width: 90%;
  display: grid;
  grid-gap: 1rem;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  section#result {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  section#result {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  section#result {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* End of result section */

/* Start of card */

.card {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: grid;
  grid-template-areas:
    'image'
    'wrapper';
  grid-template-rows: 85% auto;
  overflow: hidden;
  border-radius: 3px;
}

@media only screen and (height: 768px) and (width: 1366px) {
  .card {
    grid-template-rows: 75% auto;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: image;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 350px;
  width: 100%;
  background-color: white;
}

@media only screen and (min-width: 900px) {
  .placeholder {
    min-height: 400px;
  }
}

@media only screen and (height: 768px) and (width: 1366px) {
  .placeholder {
    min-height: 320px;
  }
}

button.more {
  background: var(--primary-color);
  padding: 12px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 100;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button i {
  pointer-events: none;
}

.wrapper {
  grid-area: wrapper;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 0.5rem;
  height: 100%;
}

.title {
  color: white;
  margin-right: 0.5rem;
}

.rating {
  background: var(--primary-color);
  height: 32px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 3px;
}

.rating.good {
  color: lightgreen;
}

.rating.medium {
  color: orange;
}

.rating.bad {
  color: red;
}

.overview {
  background: white;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  overflow-y: auto;
  max-height: 70%;
  opacity: 0;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}

.overview.show {
  opacity: 1;
  transform: translateY(0);
}

.overview h3 {
  margin: 1rem 0;
}

/* Start Loader */
.loader {
  border: 8px solid white;
  border-top: 8px solid var(--secondary-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  End Loader */

/* Start Scroll To Top */
.scroll-top {
  background: var(--secondary-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 1rem;
  right: 3px;
  color: white;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .scroll-top {
    right: 12px;
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .scroll-top {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .scroll-top {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (height: 768px) and (width: 1366px) {
  .scroll-top {
    width: 50px;
    height: 50px;
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 1px;
}
/* End Scroll To Top */
